<p>landing page</p>
{{#if user.createSessionUser.isRunning}}
  <p>I'm posting the new sessionUser</p>
{{else}}
  {{#if user}}
    <p>Name: {{user.sessionUser.name}}</p>
    <p>Name: {{user.sessionUser.tagline}}</p>
  {{else}}
    <p>No user was created... ¯\_(ツ)_/¯</p>
  {{/if}}
{{/if}}