<p>welcome page</p>

<ul>
  <li>
    <p>name</p>
    {{input value=name}}
  </li>
  <li>
    <p>tagline</p>
    {{input value=tagline}}
  </li>
  <li>
    <button onclick={{action 'createAccount'}}>post my location!</button>
  </li>
</ul>